
label{
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
input{
    font-family: sans-serif;
    font-size: 15px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkred;
    background: white;
    margin: 5px;
}
#btn{
    background: darkgray;
    border: none;
    cursor: pointer;
}

.success{
    font-family: sans-serif;
    font-size: 20px;
    color: darkgreen;
}
.danger{
    font-family: sans-serif;
    font-size: 20px;
    color: darkred;
}